{% extends 'base.html' %}

{% block content %}
<div class="login-section">
    <div class="lgn-part">
        <h2>Log In</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="btn-lgn">
                <button type="submit">Log In</button>
            </div>
        </form>

        <div class="frgt">
            Don't have an account? <a href="{% url 'signup' %}" class="sgnup">Sign up</a>
        </div>
    </div>
</div>
{% endblock %}