{% extends 'base.html' %}

{% block content %}
<h2>{{ subject.name }} — Lesson Plan</h2>
{% for topic in topics %}
<h3>Week {{ topic.week_number }}: {{ topic.title }}</h3>
<ul>
    {% for activity in topic.activities.all %}
    <li>
        {{ activity.title }} — due {{ activity.deadline }}
        {% if activity.due_soon %}<strong style="color:red;">DUE SOON</strong>{% endif %}
        {% if request.user in activity.completed_by.all %}
        <span style="color:green;">✓ Completed</span>
        {% elif user.profile.role == 'student' %}
        <a href="{% url 'mark_complete' activity.id %}">Mark Complete</a>
        {% endif %}
    </li>
    {% empty %}
    <li>No activities yet.</li>
    {% endfor %}
</ul>
{% if user.profile.role == 'teacher' %}
<a href="{% url 'add_activity' topic.id %}">+ Add Activity</a>
{% endif %}
{% empty %}
<p>No topics added yet.</p>
{% endfor %}
<h3>Projects</h3>
<ul>
    {% for project in subject.projects.all %}
    <li><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></li>
    {% empty %}
    <li>No projects yet.</li>
    {% endfor %}
</ul>
{% if user.profile.role == 'teacher' %}
<a href="{% url 'add_project' subject.id %}">+ Add Project</a>
{% endif %}
{% if user.profile.role == 'teacher' %}
<a href="{% url 'add_topic' subject.id %}">+ Add Topic</a>
<a href="{% url 'manage_students' subject.id %}">Manage Students</a>


{% endif %}
{% endblock %}